<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/651da11b-7757-4742-ac91-148e47c2869b/resourcegroups/learn-275d3f05-f15b-4ab7-a04e-6fecae84dfa9/providers/Microsoft.Web/sites/CodePulseAPI20250729162715</ResourceId>
    <ResourceGroup>learn-275d3f05-f15b-4ab7-a04e-6fecae84dfa9</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://codepulseapi20250729162715.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f21d9bab-f85e-10c4-50d3-40dc8b84e048</ProjectGuid>
    <MSDeployServiceURL>codepulseapi20250729162715.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CodePulseAPI20250729162715</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CodePulseAPI20250729162715</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>